services:
  # Wordpress App
  wordpress:
    image: wordpress:6.4.3-php8.2
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wp_admin
      WORDPRESS_DB_PASSWORD: 5HrgP$Y3LUfZ
      WORDPRESS_DB_NAME: secondbyte_app
    networks:
      - wp_network
    volumes:
      - wp-data:/var/www/html
    deploy:
      replicas: 2                
      restart_policy:
        condition: any
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"]
      interval: 30s
      retries: 3
      start_period: 10s
  nginx:
    image: owasp/modsecurity-crs:3.3.8-nginx-202601060501
    restart: always
    environment:
      SERVERNAME: localhost
      BACKEND: http://wordpress:80
      #############################################
      # CRS Variables
      #############################################
      # Paranoia Level
      PARANOIA: 1
      # Replaces PARANOIA as of CRS 4
      BLOCKING_PARANOIA: 1
      # Inbound and Outbound Anomaly Score Threshold
      ANOMALY_INBOUND: 5
      ANOMALY_OUTBOUND: 4
      # Executing Paranoia Level
      # - EXECUTING_PARANOIA=2
      #
      # Replaces EXECUTING_PARANOIA as of CRS 4
      # - DETECTION_PARANOIA=2
      #
      # New in CRS 4
      REPORTING_LEVEL: 2

      #######################################################
      # Various CRS Variables with Default Values
      #######################################################
      # ENFORCE_BODYPROC_URLENCODED: 1
      # ALLOWED_METHODS: GET HEAD POST OPTIONS
      # ALLOWED_REQUEST_CONTENT_TYPE: '|application/x-www-form-urlencoded| |multipart/form-data| |multipart/related| |text/xml| |application/xml| |application/soap+xml| |application/json| |application/cloudevents+json| |application/cloudevents-batch+json|'
      # ALLOWED_REQUEST_CONTENT_TYPE_CHARSET: 'utf-8|iso-8859-1|iso-8859-15|windows-1252'
      # ALLOWED_HTTP_VERSIONS: HTTP/1.0 HTTP/1.1 HTTP/2 HTTP/2.0
      # RESTRICTED_EXTENSIONS: .asa/ .asax/ .ascx/ .axd/ .backup/ .bak/ .bat/ .cdx/ .cer/ .cfg/ .cmd/ .com/ .config/ .conf/ .cs/ .csproj/ .csr/ .dat/ .db/ .dbf/ .dll/ .dos/ .htr/ .htw/ .ida/ .idc/ .idq/ .inc/ .ini/ .key/ .licx/ .lnk/ .log/ .mdb/ .old/ .pass/ .pdb/ .pol/ .printer/ .pwd/ .rdb/ .resources/ .resx/ .sql/ .swp/ .sys/ .vb/ .vbs/ .vbproj/ .vsdisco/ .webinfo/ .xsd/ .xsx/
      # RESTRICTED_HEADERS_BASIC: /content-encoding/ /proxy/ /lock-token/ /content-range/ /if/ /x-http-method-override/ /x-http-method/ /x-method-override/
      # RESTRICTED_HEADERS_EXTENDED: /accept-charset/
      # STATIC_EXTENSIONS: /.jpg/ /.jpeg/ /.png/ /.gif/ /.js/ /.css/ /.ico/ /.svg/ /.webp/

      #######################################################
      # CRS Variables with Default Value unlimited
      #######################################################
      # MAX_NUM_ARGS: 255
      # ARG_NAME_LENGTH: 100
      # ARG_LENGTH: 400
      # TOTAL_ARG_LENGTH: 64000
      # MAX_FILE_SIZE: 1048576
      # COMBINED_FILE_SIZES: 1048576

      #######################################################
      # Configs for ModSecurity Tuning
      #######################################################
    configs:
      - source: modsec_req
        target: /etc/modsecurity.d/owasp-crs/rules/REQUEST-900-EXCLUSION-RULES-BEFORE-CRS.conf
      - source: modsec_resp
        target: /etc/modsecurity.d/owasp-crs/rules/RESPONSE-999-EXCLUSION-RULES-AFTER-CRS.conf

      #######################################################
      # Add TLS server certificate and key
      #######################################################
      - source: ssh_crt
        target: /usr/local/apache2/conf/server.crt
      - source: ssh_key
        target: /usr/local/apache2/conf/server.key
    deploy:
      replicas: 2                         
      restart_policy:
        condition: any
    ports:
      - target: 8443
        published: 443
        protocol: tcp
        mode: vip
    networks:
      - wp_network
volumes:
  wp-data:
configs:
  modsec_req:
    external: true
  modsec_resp:
    external: true
  ssh_crt:
    external: true
  ssh_key:
    external: true
networks:
  wp_network:
    driver: overlay